*.swp
*.swo
*.pdb
*.dll
*.exe
*.exp
*.ilk
*.lib
*.obj
*.map
tags
*.sln
*.vs
*.swn
*.VC.db
*.cap
ALL_BUILD*
ZERO_CHECK*
main.vcxproj*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
main.dir/
x64/
Makefile
main
*build/
*.ninja
build.ninja
compile_commands.json
*.plist
src/assets/
src/materials/
src/dummy.dir/
